<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://www.youtube.com/channel/UCw8ZhLPdQ0u_Y-TLKd61hGA">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>	
                    <li>
                        <a href="https://www.instagram.com/1milliondance/">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>	
                    <li>
                        <a href="https://www.facebook.com/1MILLIONDanceStudio/">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>		
                </ul>
                <p class="copyright text-muted"> © 2021 <a href="https://www.1milliondance.com/" target="_blank">1MILLION Inc.</a>, All Right Reserved. </p>
            </div>
        </div>
    </div>
</footer>

